**/__pycache__/
*.pyc 
__pycache__
__pycache__/
start.bat
setup.bat
/build
*.spec
/Xvirus-Tools-main
/output
/dist
README.md
/Xvirus.dist
/Xvirus.build
/Xvirus.onefile-build
Xvirus.exe
tokens.txt
Xvirus-Tools.exe
tokens.txt