requests
selenium
bs4
colorama
pycryptodome
PIL-Tools
Pillow
pyinstaller
psutil
keyboard
cairosvg
cairocffi
pystyle
httpx
pyotp
psutil
pypiwin32
pycryptodome
pyinstaller>=5.0
aes
win10toast
discord
asyncio
