os
re
io
sys
time
json
ctypes
random
zipfile
requests
pkg_resources
subprocess
threading
multiprocessing
keyboard
base64
time
colorama
urllib3
requests.adapters
pystyle
distutils.version
urllib.request
bs4
urllib.request
datetime
pathlib
PIL
selenium
webdriver
common
discord_webhook
Path
requests
ctypes
discord.ext
discord
pyautogui
requests
http.client
json
Thread
Session
Xvirus
requests
datetime
time
requests
shutil
win10toast
openai
getpass
subprocess
Popen
PIPE
STDOUT
discord
commands
cycle
itertools
pyinstaller>=5.0
webbrowser
tempfile