requests
colorama
urllib3
pystyle
bs4
datetime
pathlib
pillow
selenium
discord_webhook
discord
pyautogui
http.client
win10toast
openai
Popen
cycle
itertools
pyinstaller>=5.0
tempfile
msedge-selenium-tools
keyboard